# general stuff to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata

# directories to ignore
/01_run2_fecalHairBlood
/02_laLab_run1
/bearTest
/downsamplingTests
/extractions
/gelPics
/picogreen
/primers
/robotProtocols
/samFiles

# files to ignore
*archived*
*.fastq.gz
*.fastq
*fastqc.html
*fastqc.zip
*scatter.jpg
