# ignore everything (dirs, files, sub-dirs, sub-files)
*
# but do not ignore .gitignore file
!.gitignore
# and do not ignore the files below (override)
!README.md
!*.Rmd
!*.R
!*.pl
# apply override to all dirs recursively
!**/
my_sourceScripts
